.carousel {
    height: 676px;
    /* Cambia el valor según la altura deseada */

}

.carousel img {
    /* Asegúrate de que las imágenes se ajusten a la altura del banner */
    height: 676px;
    object-fit: cover;
    /* Esto garantiza que la imagen cubra todo el área del banner manteniendo la relación de aspecto */
}

/* Estilos para la clase 'categorias' */
.categorias {
    text-align: center;
    margin: 10px;
}

/* Estilos para las imágenes dentro de 'categorias' */
.categorias img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos para los botones dentro de 'categorias' */
.category button {
    background-color: #000000;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el botón cuando se pasa el cursor sobre él */
.categorias button:hover {
    background-color: #9a0000;
}
